@font-face {
    font-family: 'kenvector_future';
    src: url(/font/kenvector_future.ttf);
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'kenvector_future';
    color: #fff;
    background-color: #161420;
    overflow: hidden;
    cursor: url(https://cur.cursors-4u.net/cursors/cur-8/cur736.ani),
        url(https://cur.cursors-4u.net/cursors/cur-8/cur736.png), auto;
}
body div.ui {
    display: none;
}

/************************************************/
.loading {
    text-align: center;
    position: absolute;
    top: 40%;
    width: 100%;
    font-size: 3rem;
}
.bg {
    width: 100%;
    height: 999999%;
    background: url(img/UI/Main_Menu/BG.png);
    position: fixed;
    z-index: 0;
    background-size: 100%;
    animation: backgroundMove 100000s linear infinite;
}
@keyframes backgroundMove {
    0% {
        background-position: 0 center;
    }
    100% {
        background-position: center 1200px;
    }
}
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal.show {
    display: block;
}
.modal_body {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 600px;
    padding: 40px;
    transform: translateX(-50%) translateY(-50%);
    background-image: url(img/UI/End_Menu/endModal.png);
    background-size: contain;
    background-repeat: no-repeat;
}
/*********************[메인]***************************/
.main.ui {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    text-align: center;
    padding: 10px;
}

.main .mainItems {
    margin: 0 auto;
    margin-top: 90px;
    background-repeat: no-repeat;
}
.main .logo {
    background-image: url(img/UI/Main_Menu/Header.png);
    background-size: 100%;
    width: 100%;
    height: 100%;
    max-width: 600px;
}

.main .bottom {
    width: 100%;
    max-width: 100%;
    position: absolute;
    bottom: 70px;
    align-items: flex-end;
}

.main .bottom .exit_btn,
.main .bottom .start_btn {
    width: 100%;
    height: 100%;
    background-size: calc(100% - 30px);
    max-width: 405px;
    background-repeat: no-repeat;
    margin: 10px auto;
}

/*********************[게임]***************************/
.gameUI {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    font-size: 2rem;
}

.gameUI .timer {
    padding: 30px;
}
.gameUI .timer img {
    width: 40px;
    vertical-align: middle;
}
.gameUI .score {
    padding: 30px;
    position: absolute;
    right: 0;
}
.gameUI .warningLayer {
    position: fixed;
    z-index: 101;
    width: 100%;
    height: 100px;
    top: 40%;
}
.gameUI .warningLayer .text {
    font-size: 2.8em;
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: 2px;
}
.gameUI .warningLayer .warningText {
    color: #ffd905;
}
.gameUI .warningLayer .dangerText {
    color: #ff0018;
}
.gameUI .line {
    position: absolute;
    height: 25px;
    width: 100%;
}
.gameUI .line.waring {
    background-image: url(img/UI/Main_Menu/warning.png);
}
.gameUI .line.danger {
    background-image: url(img/UI/Main_Menu/danger.png);
}
.gameUI .line.bottomLine {
    margin-top: 86px;
}
.gameUI .warn,
.gameUI .dan {
    display: none;
    animation: tri 1s linear infinite;
}
.gameUI .tri {
    display: none;
    width: 5%;
    position: fixed;
    margin-left: 18%;
    margin-top: 22%;
    animation: tri 0.6s linear infinite;
}
@keyframes tri {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.gameUI .bossGauge{
    display: none;
    position: fixed;
    z-index: 3;
    width: 70%;
    left: 15%;
    margin-top: 14px;
}
.gameUI .bossGauge .bossGaugeBar{
    width: 100%;
    height: 13px;
    background-image: url(img/game/boss/Boss_HP_Bar.png);
    background-size: 100%;
}
.game {
    cursor: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.game .ship {
    width: 15%;
    position: absolute;
    bottom: 10px;
    left: 45%;
    z-index: 10;
}
.game .missile.on {
    top: -100% !important;
}
.game .missile {
    width: 5%;
    position: fixed;
    transition-property: top;
    transition-duration: 1s;
    transition-delay: 0.1s;
    margin-left: 5%;
    z-index: 1;
}
.game .meteor {
    width: 10%;
    position: fixed;
    top: -20%;
    transition-property: top;
    transition-duration: 2.5s;
    transition-delay: 0.1s;
    transition-timing-function: linear;
    z-index: 1;
}
.game .meteor.on {
    top: 120% !important;
}

.game .boss {
    width: 18%;
    top: 5%;
    position: fixed;
    z-index: 2;
    animation: bossMove 10s linear infinite;
    display: none;
}
@keyframes bossMove {
    0% {
        left: 0%;
    }
    50% {
        left: 60%;
    }
    100% {
        left: 0%;
    }
}
.game .bossBeam {
    width: 10%;
    position: fixed;
    height: 100%;
    margin-left: 8.4%;
    margin-top: 5%;
    display: none;
}
.game .explosion {
    width: 20%;
    position: fixed;
    margin-left: -10%;
    z-index: 1;
}
.endScore {
    position: absolute;
    top: -30%;
    left: 52%;
    transform: translate(-50%, -50%);
}
#endScore {
    font-size: 4rem;
    text-align: center;
}
.endUIitems {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    gap: 15px;
}
.endUIitems .btn {
    margin: 20px 0 50px;
}
.endUIitems .btn img {
    width: 120px;
    height: 120px;
}
